.jumbotron {
  padding-top: 6rem;
  background-color: rgb(255, 180, 192);
}

#project {
  background-color: rgb(255, 180, 192);
}

footer {
  background-color: rgb(255, 66, 98);
}

.btn_sbmt {
  background-color: rgb(255, 180, 192);
}

section {
  padding-top: 5rem;
}